%ul#slide-out.side-nav.fixed
  %li
    %strong  
      = link_to '年份名額', admin_years_path
  %li
    %strong  
      = link_to '學生', admin_students_path
  %li
    %strong  
      = link_to '系所師資', admin_teachers_path
  %li
    %strong  
      = link_to '編輯學群', admin_categories_path
  %li
    %strong  
      = link_to '編輯職稱', admin_titles_path
  / %li
  /   %strong  
  /     = link_to '編輯組別', admin_groups_path
  / %li
  /   %strong
  /     = link_to '使用說明', 'https://github.com/aaaa1379/registerSystem/blob/master/admin.md'
  %li
    %strong  
      = link_to '管理員個人資料', admin_admins_path
  %li
    %strong  
      = link_to '管理員登出', admin_logout_path, :method => :get
