/ params_titles: @titles, params_teachers: @teachers

%ul#slide-out.side-nav.fixed
  %li
    %strong  
      = link_to '管理員介面', admin_login_path
  %li
    %strong  
      = link_to '年份名額', admin_years_path
  %li
    %strong  
      = link_to '系所師資', admin_teachers_path

  %li.no-padding
    %ul.collapsible{"data-collapsible" => "accordion"}
      - params_titles.each do |title|
        %li
          .collapsible-header.waves-effect.waves-teal
            %strong.pad-left-12= title.title
            .secondary-content.black-text= params_teachers.where(:title => title).count
          .collapsible-body
            %ul
              - params_teachers.where(:title_id => title.id).all_sort_by_name.each do |teacher|
                %li
                  = link_to(edit_admin_teacher_path(teacher), :class => 'teal-text text-darken-1') do
                    .pad-left-12= teacher.name

  %li
    %strong  
      = link_to '學生', admin_students_path
  %li
    %strong  
      = link_to '編輯學群', admin_categories_path
  %li
    %strong  
      = link_to '編輯職稱', admin_titles_path
  %li
    %strong  
      = link_to '編輯組別', admin_groups_path
  %li
    %strong
      = link_to '使用說明', 'https://github.com/aaaa1379/registerSystem/blob/master/admin.md'
  %li
    %strong  
      = link_to '管理員登出', admin_logout_path, :method => :get

