%tr
  %td= params_teacher.name
  %td= params_teacher.account
  %td= params_teacher.default_ratio
  %td= params_teacher.email
  %td= link_to('編輯', edit_admin_teacher_path(params_teacher), :class  => 'secondary-content')
      