= content_for :left_bar do
  #left_bar
    = render :partial => '/admin/features/teacher_list', locals: {params_titles: @titles, params_teachers: @teachers}

%h2.caption 系所師資
.divider
%ol.header_information
  %li 請使用 Gmail 信箱，確保能正常收到信件，若未收到信件請五分鐘後再重新寄送
  %li 使用學校信箱有可能較晚收到信件
= form_tag(sends_admin_teachers_path, :method => 'POST') do
  .header_button
    .secondary-content.pad-left-12
      %button.action 發送密碼
    = link_to(admin_teachers_path, :method => :get, :class => 'pad-left-12') do
      %button 上一頁
    %a.secondary-content.pad-left-12{:href => '#', :onclick => "$(':checkbox').attr('checked', true)"}
      %button{:type => :button} 全部選取
    %a.secondary-content.pad-left-12{:href => '#', :onclick => "$(':checkbox').removeAttr('checked')"}
      %button{:type => :button} 取消選取

  .card-panel
    %table.highlight
      %col{:width => "15%"}/
      %col{:width => "15%"}/
      %col/
      %col{:width => "5%"}/
      %tbody
        - @teachers.all_sort_by_name.each do |teacher|
          %tr
            %td= teacher.name
            %td= teacher.account
            %td= teacher.email
            %td= check_box_tag('teacher_ids[]', teacher.id)