%tr
  %td= f.label(:name, '姓名')
  %td= f.text_field(:name)
%tr
  %td= f.label(:email, 'e-mail')
  %td= f.text_field(:email)
%tr
  %td= f.label(:account, '帳號')
  %td= f.text_field(:account)
%tr
  %td= f.label(:password, '密碼')
  %td= f.password_field(:password)
  







