= content_for :left_bar do
  #left_bar
    = render :partial => '/admin/features/overview'

%h2.caption 職稱
.divider
.header_information
  .green-text=flash[:notice]
  .red-text=flash[:error]

= form_for(@title, :url => admin_titles_path(@title), :remote => true) do |f|
  .header_button
    = f.text_field(:title, :placeholder => '新增職稱')
    %span.pad-left-12= f.submit('新增')
    = link_to(edit_admin_titles_path, :class => 'secondary-content pad-left-12') do
      %button.action 編輯


.card-panel
  %table.highlight
    %col/
    %col{:width => "10%"}/
    %tbody#tbody_title
      = render @titles

