.card-panel
  %h3= "#{@teacher.name} 教授您好："
  .header_information
    %p
      = "學生 #{@student.name} 已成為您"
      = "跟 #{@teacher_co.name} " if @teacher_co 
      = "的研究生"
    
  .header_information
    %p 
      教師登入頁面：
      = link_to(@user_url, @user_url)
    %p
      研究所師資管理系統頁面：
      = link_to(@guest_url, @guest_url)
    %p 請勿回信 有任何問題請聯絡系辦


