.card-panel
  %h3= "#{@teacher.name} 教授您好："
  .header_information
    %p 研究所師資管理系統寄送給您新的帳號密碼，登入後請盡快修改您的密碼
    
  .header_information             
    %li= "帳號：#{@teacher.account}"
    %li= "密碼：#{@password}"

  .header_information
    %p 
      教師登入頁面：
      = link_to(@user_url, @user_url)
    %p
      研究所師資管理系統頁面：
      = link_to(@guest_url, @guest_url)
    %p 請勿回信 有任何問題請聯絡系辦


