= "#{@teacher.name} 教授您好："
= "研究所師資管理系統寄送給您新的帳號密碼，登入後請盡快修改您的密碼"
= "\n----------------------------"
= "帳號：#{@teacher.account}"
= "密碼：#{@password}"
= "----------------------------"
= "\n教師登入頁面：  #{@user_url}" 
= "研究所師資管理系統頁面：  #{@guest_url}" 
= "請勿回信 有任何問題請聯絡系辦"