!!!
%html
  %head
    %title= @page_title || "RegisterSystem"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    '//fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'
    = stylesheet_link_tag    '//ssl.gstatic.com/docs/script/css/add-ons1.css'
    = csrf_meta_tags
  %body
    - if content_for?(:left_bar)
      = yield :left_bar

    - if content_for?(:left_bar)
      %header= render :partial => 'admin/features/nav_bar'
    - else
      = render :partial => 'admin/features/nav_bar'

    - if content_for?(:left_bar)
      %main
        .container
          .row
            .col.s12
              = yield
              - if content_for?(:sticky_bar)
                = yield :sticky_bar
    - else
      .container
        .row
          .col.s12
            = yield
            - if content_for?(:sticky_bar)
              = yield :sticky_bar
