!!!
%html
  %head
    %title= @page_title || "Login"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js'
    = csrf_meta_tags
  %body
    %nav.nav-wrapper.teal.darken-1
      .container
        = link_to('電子工程系及電子研究所', teachers_path, :method => :get, :class => "brand-logo")
        %ul.right.hide-on-med-and-down
          %li
            = link_to(user_login_path, :method => :get) do
              / %i.large.material-icons perm_identity
              教師登入
    .container
      .row
        .col.s12
          = yield    # <--
