!!!
%html
  %head
    %title= @page_title || "RegisterSystem"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    '//fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'
    = stylesheet_link_tag    '//ssl.gstatic.com/docs/script/css/add-ons1.css'
  %body
    .container
      = yield
