!!!
%html
  %head
    %title= @page_title || "Print Page"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:style => 'font-size: 20px; background-color:white;', onload: "printpage()"}
    .container
      .img-overlap.img-trsp-2.text-center{:style => 'disabled:true'}= image_tag("logo-large.png")
      = yield    # <--
