.card-panel
  %h3= "#{@student.name} 您好："
  .header_information
    %p= "教授 #{@teacher_name.join('、')} 已取消與您間的指導關係，請儘速與教授確認。"
    
  .header_information
    %p
      研究所師資管理系統頁面：
      = link_to(@guest_url, @guest_url)
    %p 請勿回信 有任何問題請聯絡系辦


